* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#App {
  font-family: "Courier New", Courier, monospace;
  height: 100%;
}
#login {
  background-image: linear-gradient(#0c83c2, #ff7301);
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
#span {
  padding: 10px;
  height: 50px;
}
a {
  color: black;
}
#loginCard {
  position: relative;
  top: calc(50vh - 144px);
  left: calc(50vw - 210px);
  padding-top: 36px;
  padding-bottom: 66px;
  width: 420px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: white;
  border-radius: 5px;
}
.loginBtn {
  cursor: pointer;
  color: white;
  padding: 12px;
  border-radius: 8px;
  display: inline-block;
}

.google {
  background-color: #0c83c2;
  color: white;
  font-weight: 300;
}
#wlc {
  padding: 10px;
  font-weight: 400;
}
.chat {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}
.nav {
  width: 100%;
  height: 66px;
  background-color: #0c83c2;
}
.logo {
  position: absolute;
  left: 22px;
  top: 12px;
  font-size: 32px;
  font-weight: 700;
  color: white;
}
.logout {
  position: absolute;
  top: 22px;
  right: 22px;
  color: white;
  cursor: pointer;
}
